@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
p{
	font-family: 'Cabin', sans-serif;
	font-weight: 20px;
	text-align: justify;
	color: #32378E;
}

h1,h2,h3{
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	color: #32378E;

}
