.button{
	background-color: #32378E;
	padding: 15px 20px;
	border-radius: 10px;
	color: white;
	font-style: 0;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
}

.button:hover {
	background-color: #E3CAA5;
	color:  #32378E;